/**
  Values
 */
$container-width: 1238px;
$layout-content-width: 872px;
$container-padding-mobile: 16px;

//$screen-mobile-width: '320px';
//$screen-tablet-width: '740px';
//$screen-desktop-width: '980px';
//$screen-wide-width: '1300px';

$screen-sm: '640px';
$screen-md: '768px';
$screen-lg: '1024px';
$screen-xl: '1280px';
$screen-2xl: '1536px';

$layout-gap: 4rem;

$node-page-width: 800px;

/**
  Colors
 */
$color-primary: #2362a2;

$color-primary-100: #ecf7ff;
$color-primary-200: #d9efff;
$color-primary-300: #b5d9f3;
$color-primary-400: #66a1d8;
$color-primary-500: #3077b7;
$color-primary-600: #2362a2;
$color-primary-700: #254e80;
$color-primary-800: #15355e;
$color-primary-900: #0d213a;

$color-secondary: #3b3b3b;

$color-secondary-100: #FCFCFC;
$color-secondary-200: #fafafa;
$color-secondary-300: #f5f5f5;
$color-secondary-400: #eaeaea;
$color-secondary-500: #ddd;
$color-secondary-600: #a8a8a8;
$color-secondary-700: #686868;
$color-secondary-800: #3b3b3b;
$color-secondary-900: #232323;

$color-success: #6fbd2c;

$color-success-100: #f5faf0;
$color-success-200: #dcefcc;
$color-success-300: #a3d578;
$color-success-400: #6fbd2c;
$color-success-500: #488515;
$color-success-600: #3a6217;
$color-success-700: #2c4f0d;

$color-warning: #f9c13c;

$color-warning-100: #fef9ef;
$color-warning-200: #faecc8;
$color-warning-300: #fad47b;
$color-warning-400: #f9c13c;
$color-warning-500: #c78300;
$color-warning-600: #99620f;
$color-warning-700: #865102;

$color-error: #c52a3a;

$color-error-100: #ffe8ea;
$color-error-200: #f7cdd2;
$color-error-300: #d96671;
$color-error-400: #c52a3a;
$color-error-500: #9e0615;
$color-error-600: #830713;

$color-neutral-black: #000;
$color-neutral-white: #FFF;

$breadcrumbs-arrow-color: $color-secondary;

/**
  Fonts
 */

$text-xs-font-size: 0.75rem;
$text-xs-line-height: 150%;
$text-xs-font-weight: 400;
$text-xs-letter-spacing: 0.0166em;
$text-xs-margin-bottom: 0.5rem;

$text-s-font-size: 0.875rem;
$text-s-line-height: 150%;
$text-s-font-weight: 400;
$text-s-letter-spacing: 0.0125em;
$text-s-margin-bottom: 0.5rem;

$text-m-font-size: 1rem;
$text-m-line-height: 150%;
$text-m-font-weight: 400;
$text-m-letter-spacing: 0.0125em;
$text-m-margin-bottom: 0.5rem;

$text-l-font-size: 1.125rem;
$text-l-line-height: 150%;
$text-l-font-weight: 400;
$text-l-letter-spacing: 0.0125em;
$text-l-margin-bottom: 0.5rem;

$text-xl-font-size: 1.25rem;
$text-xl-line-height: 150%;
$text-xl-font-weight: 500;
$text-xl-letter-spacing: 0.0125em;
$text-xl-margin-top: 0.5rem;
$text-xl-margin-bottom: 0.5rem;

$text-2xl-font-size: 1.5rem;
$text-2xl-line-height: 150%;
$text-2xl-font-weight: 500;
$text-2xl-letter-spacing: 0.0312em;
$text-2xl-margin-top: 0.5rem;
$text-2xl-margin-bottom: 0.5rem;

$text-3xl-font-size: 2rem;
$text-3xl-line-height: 150%;
$text-3xl-font-weight: 400;
$text-3xl-margin-top: 1rem;
$text-3xl-margin-bottom: 0.5rem;

$text-4xl-font-size: 2.5rem;
$text-4xl-line-height: 130%;
$text-4xl-font-weight: 500;
$text-4xl-letter-spacing: 0;
$text-4xl-margin-top: 1rem;
$text-4xl-margin-bottom: 1rem;

$text-5xl-font-size: 3rem;
$text-5xl-line-height: 125%;
$text-5xl-font-weight: 300;
$text-5xl-margin-top: 1.5rem;
$text-5xl-margin-bottom: 1rem;

$text-6xl-font-size: 3.625rem;
$text-6xl-line-height: 125%;
$text-6xl-font-weight: 300;
$text-6xl-margin-top: 2rem;
$text-6xl-margin-bottom: 1.5rem;
